.input-wrapper {
    width: 100%;
    display: flex;
    gap: 1rem;

    & button {
        padding: 0.6875rem 1.125rem;
        border-radius: 0.75rem;
        background-color: var(--color-brand);
        border: none;
        color: var(--always-white);
        font: var(--font-label);

        &:hover {
            background-color: var(--color-brand-hover);
        }
    }
}